{% extends 'base.html' %}
{% load static %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white"
             data-image="{% static 'img/sidebar-1.jpg' %}">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

              Tip 2: you can also add an image using data-image tag
          -->
            <div class="logo">
                <a href="{% url 'medicalpanel:dashboard' %}" class="simple-text logo-normal">
                    Medical Panel
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'medicalpanel:dashboard' %}">
                            <i class="material-icons">library_books</i>
                            <p>Blog Posts</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'medicalpanel:Dbans-view' %}">
                            <i class="material-icons">content_paste</i>
                            <p>Banners</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'medicalpanel:consultant-view' %}">
                            <i class="material-icons">library_books</i>
                            <p>Consultant</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'medicalpanel:input-view' %}">
                            <i class="material-icons">library_books</i>
                            <p>Inputs</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'medicalpanel:appointment-view' %}">
                            <i class="material-icons">content_paste</i>
                            <p>Appointment</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'medicalpanel:newsletter-view' %}">
                            <i class="material-icons">library_books</i>
                            <p>Newsletter</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#pablo">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'medicalpanel:logout' %}">
                                    <i class="fa fa-power-off"></i>
                                    <p class="d-lg-none d-md-block">
                                        Logout
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Appointment</h4>
                                    <p class="card-category"> Create Update Delete Appointment</p>
                                    <button id="add" style="float: right" data-toggle="modal" data-target="#add-modal"
                                            class="btn btn-primary" data-style="expand-left">
                                        Add Appointment
                                    </button>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                            <th>ID</th>
                                            <th>Patient Name</th>
                                            <th>Phone</th>
                                            <th>Appointment Date</th>
                                            <th>Message</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                            </thead>
                                            <tbody id="blog">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <footer class="footer">
                            <div class="container-fluid">
                                <nav class="float-left">
                                    <ul>
                                        <li>
                                            <a href="https://www.creative-tim.com">
                                                Creative Tim
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://creative-tim.com/presentation">
                                                About Us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://blog.creative-tim.com">
                                                Blog
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.creative-tim.com/license">
                                                Licenses
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="copyright float-right">
                                    &copy;
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script>
                                    , made with <i class="material-icons">favorite</i> by
                                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better
                                    web.
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .errorlist {
            color: #FF0000;
        }

        .successMsg {
            color: #4caf50;
        }
    </style>

    <!-- ADD MODAL-->
    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Add Appointment </strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="booking-form" name="bookingform" id="bookingform" method="post">
                    {% csrf_token %}
                    <center><b>
                        <div id="completed"></div>
                    </b></center>
                    <div class="modal-body">
                        <div>
                            {{ form.patient_name }}
                            {% if form.patient_name.errors %}
                                <span class="errorlist">{{ form.patient_name.errors }}</span>
                            {% endif %}
                            <div id="patient_name"></div>
                        </div>
                        <div>
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <span class="errorlist">{{ form.phone.errors }}</span>
                            {% endif %}
                            <div id="phone"></div>
                        </div>
                        <div>
                            {{ form.appointment_date }}
                            {% if form.appointment_date.errors %}
                                <span class="errorlist">{{ form.appointment_date.errors }}</span>
                            {% endif %}
                            <div id="appointment_date"></div>
                        </div>
                        <div>
                            {{ form.message }}
                            {% if form.message.errors %}
                                <span class="errorlist">{{ form.message.errors }}</span>
                            {% endif %}
                            <div id="message"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-lg text-uppercase ">Add Appointment</button>
                        <div class="alert-msg"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- END ADD MODAL -->

    <!-- UPDATE MODAL -->

    <div class="modal fade" id="Update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Update Appointment</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" id="UDing" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div id="form"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" name="update-user" id="update-user" class="btn btn-primary"
                                onclick="USubmit(this)">Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- END Update MODAL -->

    <!-- Delete MODAL -->

    <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Delete Appointment</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to <strong>DELETE</strong> this Appointment ?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" name="delete-blog" id="delete-blog" class="btn btn-primary"
                            onclick="DSubmit(this)" data-dismiss="modal">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        })
    </script>

    <script>
        function redirecting() {
            $.ajax({
                method: "GET",
                url: "{% url 'medicalpanel:appointment' %}",
            })
                .done(function (msg) {
                    var data = JSON.parse(msg);
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        var h = "<tr>";
                        var url = "{% url 'medicalpanel:appointment-rud-post' 0%}";
                        url = url.slice(0, url.length - 1) + data[i].id;
                        url = "data-url=" + url;
                        h += "<td>" + data[i].id + "</td>";
                        h += "<td>" + data[i].patient_name + "</td>";
                        h += "<td>" + data[i].phone + "</td>";
                        h += "<td>" + data[i].appointment_date + "</td>";
                        h += "<td>" + data[i].message + "</td>";
                        {% if user.is_superuser %}
                            h += "<td>" + '<button class="btn btn-primary btn-sm fa fa-edit"' + url + ' data-toggle="modal" data-target="#Update" onclick="updat(this)"></button>' + "</td>"
                            h += "<td>" + '<button class="btn btn-primary btn-sm fa fa-trash"' + url + ' data-toggle="modal" data-target="#Delete" onclick="del(this)"></button>' + "</td>"
                        {% endif %}
                        h += "</tr>";
                        html += h;
                    }
                    $("#blog").html(html);
                });
        }

        redirecting();

        $(document).on('submit', '#bookingform', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url "newapp:index" %}',
                data: {
                    patient_name: $('#patient').val(),
                    phone: $('#phn').val(),
                    appointment_date: $('#appointment').val(),
                    message: $('#msg').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    ajax: true,
                }, success: function (res) {
                    if (res.status == 'ok') {
                        redirecting();
                        $('#completed').html("<span class='successMsg'>" + res.message + "</span>");
                        document.getElementById("bookingform").reset();
                        $('#patient_name').html("");
                        $('#phone').html("");
                        $('#appointment_date').html("");
                        $('#message').html("");
                    } else if (res.status == "error") {
                        var keys = Object.keys(res.message);
                        console.log(keys);
                        for (var i = 0; i < keys.length; i++) {
                            var msg = res.message[keys[i]];
                            var key = keys[i];
                            $('#' + key).html("<span class='errorlist'>" + msg + "</span>");
                        }
                    }
                }
            });
        });

        //
        <!--Update getting-->
        function updat(ref) {
            var u = $(ref).attr('data-url');
            $('#update-user').attr('data-url', u);
            $.ajax({
                type: "GET",
                url: u,
            })
                .done(function (msg) {
                    var name = msg.patient_name;
                    var phone = msg.phone;
                    var dated = msg.appointment_date;
                    var message = msg.message;

                    var x = document.createElement('input');
                    x.value = name;
                    x.id = 'names';
                    x.name = 'patient_name';
                    x.className = 'form-control';
                    x.type = 'text';

                    var i = document.createElement('input');
                    i.value = phone;
                    i.id = 'mob';
                    i.name = 'phone';
                    i.className = 'form-control';
                    i.type = 'text';

                    var d = document.createElement('input');
                    d.value = dated;
                    d.id = 'ad';
                    d.name = 'appointment_date';
                    d.className = 'form-control';
                    d.type = 'date';

                    var y = document.createElement('input');
                    y.value = message;
                    y.id = 'masg';
                    y.name = 'message';
                    y.className = 'form-control';
                    y.type = 'text';


                    var div = document.createElement('div');
                    div.appendChild(x);
                    div.appendChild(i);
                    div.appendChild(d);
                    div.appendChild(y);

                    $("#form").html(div);
                });
        }

        //
        <!--after getting updating-->
        function USubmit(ref) {
            var u = $(ref).attr('data-url');
            $.ajax({
                type: "PUT",
                url: u,
                headers: {
                    "X-CSRFToken": "{{csrf_token}}"
                },
                data: {
                    'patient_name': $('#names').val(),
                    'phone': $('#mob').val(),
                    'appointment_date': $('#ad').val(),
                    'message': $('#masg').val()
                }
            })
                .done(function (msg) {
                    console.log(msg);
                    redirecting();
                });
        }


        //
        <!--Delete getting-->
        function del(ref) {
            var u = $(ref).attr('data-url');
            $('#delete-blog').attr('data-url', u);
        }

        <!-- after getting Deleting-->
        function DSubmit(ref) {
            var u = $(ref).attr('data-url');
            $.ajax({
                type: "DELETE",
                url: u,
                headers: {
                    "X-CSRFToken": "{{csrf_token}}"
                }
            })
                .done(function (msg) {
                    console.log(msg);
                    redirecting();
                });
        }
    </script>
{% endblock %}
