{% extends 'base.html' %}
{% load static %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="{% static 'img/sidebar-1.jpg' %}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="{% url 'medicalpanel:dashboard' %}" class="simple-text logo-normal">
          Medical Panel
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'medicalpanel:dashboard' %}">
              <i class="material-icons">library_books</i>
              <p>Blog Posts</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'medicalpanel:Dbans-view' %}">
              <i class="material-icons">content_paste</i>
              <p>Banners</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'medicalpanel:consultant-view' %}">
              <i class="material-icons">library_books</i>
              <p>Consultant</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'medicalpanel:input-view' %}">
              <i class="material-icons">library_books</i>
              <p>Inputs</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'medicalpanel:appointment-view' %}">
              <i class="material-icons">content_paste</i>
              <p>Appointment</p>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'medicalpanel:newsletter-view' %}">
              <i class="material-icons">library_books</i>
              <p>Newsletter</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'medicalpanel:logout' %}">
                  <i class="fa fa-power-off"></i>
                  <p class="d-lg-none d-md-block">
                    Logout
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Consultants</h4>
                  <p class="card-category"> Create Update Delete Consultant</p>
                    <button id="add"  style="float: right"  data-toggle="modal" data-target="#add-modal" class="btn btn-primary" data-style="expand-left">
                      Add Consultant
                  </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Update</th>
                        <th>Delete</th>
                      </thead>
                      <tbody id="blog">

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      <!-- End Navbar -->

      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
    </div>
  </div>
    </div>
  </div>
  </div>

   <style>
       .errorlist
       {
           color: #FF0000;
       }
       .successMsg{
            color: #4caf50;
        }
   </style>

<!-- ADD MODAL-->
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Add Consultant </strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" name="adding" id="adding"  enctype="multipart/form-data">
                {% csrf_token %}
                <center><b><div id="completed"></div></b></center>
                <div class="modal-body">
                    <div>
                        <input type="text" name="name" id="nm" placeholder="Name" class="form-control" required/>
                            <div id="name"></div>
                        <br>
                        </div>
                        <div>
                        <input type="file" name="img" id="img" class="form-control" required>
                            <div id="image"></div>
                        <br>
                        </div>
                        <div>
                            <input type="text" name="des" id="des" placeholder="Descriptions" class="form-control" required/>
                            <div id="description"></div>
                        <br>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-lg text-uppercase ">Add Consultant</button>
                          <div class="alert-msg"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- END ADD MODAL -->

  <!-- UPDATE MODAL -->

<div class="modal fade" id="Update" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Update Consultant</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="UDing" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="form"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="update-user" id="update-user" class="btn btn-primary" onclick="USubmit(this)">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- END Update MODAL -->

<!-- Delete MODAL -->

<div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Delete Consultant</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to <strong>DELETE</strong> this Consultant ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" name="delete-blog" id="delete-blog" class="btn btn-primary" onclick="DSubmit(this)" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- END DELETE MODAL -->

  {% endblock %}

{% block scripts %}

    <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

    <script>
        function redirecting(){
        $.ajax({
          method: "GET",
          url: "{% url 'medicalpanel:consultant' %}",
        })
          .done(function( msg ) {
            var data = JSON.parse(msg);
            var html = "";
            for (var i=0; i < data.length; i++) {
                var h = "<tr>";
                var url = "{% url 'medicalpanel:consultant-rud-post' 0%}";
                url = url.slice(0, url.length-1) + data[i].id;
                url = "data-url="+url;
                h += "<td>" + data[i].id + "</td>";
                h += "<td>" + data[i].name + "</td>";
                h += "<td><a href='" + data[i].image + "' target='_blank'>" + data[i].image + "</a></td>";
                h += "<td>" + data[i].description + "</td>";
                {% if user.is_superuser %}
                h += "<td>"+'<button class="btn btn-primary btn-sm fa fa-edit"'+url+' data-toggle="modal" data-target="#Update" onclick="updat(this)"></button>'+"</td>"
                h += "<td>"+'<button class="btn btn-primary btn-sm fa fa-trash"'+url+' data-toggle="modal" data-target="#Delete" onclick="del(this)"></button>'+"</td>"
                {% endif %}
                h += "</tr>";
                html += h;
            }
            $("#blog").html(html);
          });
          }
        redirecting();


        $( document ).on('submit', '#adding', function (e) {
                   e.preventDefault();
                   var img = $('#img')[0].files[0];
                   if ($('#nm').val().length < 1){
                       $('#name').html("<span class='errorlist'>This field may not be blank.</span>");
                   }
                   if ($('#img').val().length < 1){
                       $('#image').html("<span class='errorlist'>This field may not be blank.</span>");
                   }
                   if ($('#des').val().length < 1){
                       $('#description').html("<span class='errorlist'>This field may not be blank.</span>");
                   }
                   var reader = new FileReader();
                   reader.readAsBinaryString(img);
                    reader.onloadend = function () {
                        var base64 = btoa(reader.result);
                        console.log(base64);
                        var name = $('#nm').val();
                        var desc = $('#des').val();
                        console.log(name);
                        console.log(desc);
                        var data = {
                           name: name,
                           image: base64,
                           description: desc,
                       };
                        console.log(data);
                        $.ajax({
                            type: 'POST',
                            url: '{% url "medicalpanel:consultant" %}',
                            headers: {
                           'X-CSRFToken': "{{ csrf_token }}",
                            },
                            data: data,
                            success:function (res) {
                                if (res.status == 'ok'){
                                    redirecting();
                                    document.getElementById("adding").reset();
                                    $('#completed').html("<span class='successMsg'>"+res.message+"</span>");
                                    $('#name').html("");
                                    $('#image').html("");
                                    $('#description').html("");
                                }else if (res.status=="error") {
                                    var keys = Object.keys(res.message);
                                    console.log(keys);
                                    for (var i = 0; i < keys.length; i++) {
                                        var msg = res.message[keys[i]];
                                        var key = keys[i];
                                        $('#'+key).html("<span class='errorlist'>"+msg+"</span>");
                                    }
                                }
                            }
                        });
                    };
        });

        // <!--Update getting-->
        function updat(ref) {
            var u = $(ref).attr('data-url');
            $('#update-user').attr('data-url', u);
           $.ajax({
                 type:"GET",
                 url: u,
            })
            .done(function( msg ) {
                var name = msg.name;
                var image = msg.image;
                var description = msg.description;

                var x = document.createElement('input');
                x.value = name;
                x.id = 'names';
                x.name = 'name';
                x.className = 'form-control';
                x.type = 'text';


                var i = document.createElement('a');
                i.textContent = "Currently: http://localhost:8000/media/" + image;
                i.href = "http://localhost:8000/media/" + image;
                i.target = '_blank';
                i.id = 'current';

                var o = document.createElement('input');
                o.value = "image";
                o.id = 'im';
                o.name = 'image';
                o.className = 'form-control';
                o.type = 'file';
                o.required = false;

                var y = document.createElement('input');
                y.value = description;
                y.id = 'desp';
                y.name = 'description';
                y.className = 'form-control';
                y.type = 'text';


                var div = document.createElement('div');
                div.appendChild(x);
                div.appendChild(i);
                div.appendChild(o);
                div.appendChild(y);

                $("#form").html(div);
          });
        }

        // <!--after getting updating-->
        function USubmit(ref) {
            var u = $(ref).attr('data-url');
            var im = $('#im')[0].files[0];
            if ($('#im').val().length >1) {
                var reader = new FileReader();
                reader.readAsBinaryString(im);
                reader.onloadend = function () {
                    var base64 = btoa(reader.result);
                    console.log(base64);
                    var tito = $('#names').val();
                    var short = $('#desp').val();
                    var data = {
                        name: tito,
                        image: base64,
                        description: short,
                    };
                    console.log(data);
                    $.ajax({
                        type: "PUT",
                        url: u,
                        headers: {
                            "X-CSRFToken": "{{csrf_token}}"
                        },
                        data: data
                    })
                        .done(function (msg) {
                            console.log(msg);
                            redirecting();
                        });
                }
            }else{
                var tito = $('#names').val();
                    var short = $('#desp').val();
                    var data = {
                        name: tito,
                        description: short,
                    };
                    console.log(data);
                    $.ajax({
                        type: "PUT",
                        url: u,
                        headers: {
                            "X-CSRFToken": "{{csrf_token}}"
                        },
                        data: data
                    })
                        .done(function (msg) {
                            console.log(msg);
                            redirecting();
                        });
            }
        }

        // <!--Delete getting-->
        function del(ref) {
           var u = $(ref).attr('data-url');
           $('#delete-blog').attr('data-url', u);
        }

        <!-- after getting Deleting-->
        function DSubmit(ref){
            var u = $(ref).attr('data-url');
            $.ajax({
                 type:"DELETE",
                 url: u,
                 headers: {
                        "X-CSRFToken": "{{csrf_token}}"
                 }
            })
            .done(function( msg ) {
            console.log(msg);
            redirecting();
            });
        }
    </script>

{% endblock %}
