{% extends 'base.html' %}
{% load static %}
{% block page_title %}Dashboard{% endblock %}
{% block content %}

  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="{% static 'img/sidebar-1.jpg' %}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="{% url 'medicalpanel:dashboard' %}" class="simple-text logo-normal">
          Medical Panel
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'medicalpanel:dashboard' %}">
              <i class="material-icons">library_books</i>
              <p>Blog Posts</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'medicalpanel:Dbans-view' %}">
              <i class="material-icons">content_paste</i>
              <p>Banners</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'medicalpanel:consultant-view' %}">
              <i class="material-icons">library_books</i>
              <p>Consultant</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'medicalpanel:input-view' %}">
              <i class="material-icons">library_books</i>
              <p>Inputs</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'medicalpanel:appointment-view' %}">
              <i class="material-icons">content_paste</i>
              <p>Appointment</p>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'medicalpanel:newsletter-view' %}">
              <i class="material-icons">library_books</i>
              <p>Newsletter</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'medicalpanel:logout' %}">
                  <i class="fa fa-power-off"></i>
                  <p class="d-lg-none d-md-block">
                    Logout
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Inputs</h4>
                  <p class="card-category"> Create Update Delete Input</p>
                  <button id="add"  style="float: right"  data-toggle="modal" data-target="#add-modal" class="btn btn-primary" data-style="expand-left">
                      Add Input
                  </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>ID</th>
                        <th>Clients Served</th>
                        <th>X Rays Done</th>
                        <th>Worldwide Stuff</th>
                        <th>Lives Saved</th>
                        <th>Update</th>
                        <th>Delete</th>
                      </thead>
                      <tbody id="blog">

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      <!-- End Navbar -->


      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
    </div>
  </div>
      </div>
  </div>
  </div>

  <style>
       .errorlist
       {
           color: #FF0000;
       }
       .successMsg{
            color: #4caf50;
        }
   </style>

  <!-- ADD MODAL-->
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Add Input </strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" name="adding" id="inputadding"  enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <center><b><div id="completed"></div></b></center>
                <div class="modal-body">
                    <div>
                        <input type="text" name="clients" id="clients" placeholder="Clients Served" class="form-control" required/>
                            <div id="clients_served"></div>
                        <br>
                        </div>
                        <div>
                             <input type="text" name="x_rays_done" id="xrays" placeholder="X Rays Done" class="form-control">
                            <div id="x_rays_done"></div>
                        <br>
                        </div>
                        <div>
                            <input type="text" name="worldwide_stuff" id="stuff" placeholder="Worldwide Stuff" class="form-control" required/>
                            <div id="worldwide_stuff"></div>
                        <br>
                        </div>
                        <div>
                            <input type="text" name="lives_saved" id="lives" placeholder="Lives Saved" class="form-control"/>
                            <div id="lives_saved"></div>
                        <br>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-lg text-uppercase ">Add Input</button>
                          <div class="alert-msg"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- END ADD MODAL -->

<!-- UPDATE MODAL -->

<div class="modal fade" id="Update" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Update Input</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="UDing" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="form"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="update-user" id="update-user" class="btn btn-primary" onclick="iUSubmit(this)">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- END Update MODAL -->

<!-- Delete MODAL -->

<div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Delete Input</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to <strong>DELETE</strong> this Input ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" name="delete-blog" id="delete-blog" class="btn btn-primary" onclick="iDSubmit(this)" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- END DELETE MODAL -->

  {% endblock %}

{% block scripts %}

    <script src="{% static 'js/blog.js' %}"></script>
    <script>inputRedirecting();</script>

{% endblock %}
